<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Venta</title>
</head>
<body>
    <h1>Crear Venta</h1>
    <form method="post">
        {% csrf_token %}
        <label for="cliente">Selecciona un cliente:</label>
        <select name="cliente" id="cliente" required>
            <option value="">--Selecciona un cliente--</option>
            {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
            {% endfor %}
        </select>
        
        <h3>Selecciona los productos:</h3>
        {% for producto in productos %}
            <div>
                <input type="checkbox" name="productos" value="{{ producto.id }}" class="producto-checkbox">
                {{ producto.nombre }} - ${{ producto.precio }}
                <input type="number" name="cantidades" min="1" placeholder="Cantidad" required>
            </div>
        {% endfor %}
        <button type="submit">Crear Venta</button>
    </form>
<a href="{% url 'listar_ventas' %}">Cancelar</a>
</body>
</html>