<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Cliente</title>
</head>
<body style="background-image: url(https://media.istockphoto.com/id/1891344025/es/foto/gesti%C3%B3n-de-relaciones-con-los-clientes-uso-de-tabletas-de-empresarios-con-tecnolog%C3%ADa-de-red-de.jpg?s=1024x1024&w=is&k=20&c=AygavuJrBgDcLGn7kvp2To7z9gtWGQZKCbz2hxiAD5E=); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; margin: 0;">
    <h1>Eliminar Cliente</h1>
    <p>¿Estás seguro de que deseas eliminar a {{ cliente.nombre }}?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Confirmar Eliminación</button>
    </form>
    <a href="{% url 'listar_clientes' %}"><button>Cancelar</button></a>
</body>
</html>