<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosko Tecnologico</title>
</head>
<body style="background-image: url(https://images.unsplash.com/photo-1631543561906-200fa465682a?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; margin: 0;">
    <h1>KIOSKO VIRTUAL</h1>
    <p>Bienvenido a KIOSKO VIRTUAL, su tienda de tecnologia</p>
    <br>
    <h2>¿QUE QUIERES HACER?</h2>
    <ul>
        <li><a href="{% url 'listar_ventas' %}"><button>Gestionar Ventas</button></a></li>
        <br>
        <li><a href="{% url 'listar_clientes' %}"><button>Gestionar Clientes</button></a></li>
        <li><a href="{% url 'listar_proveedores' %}"><button>Gestionar Proveedores</button></a></li>
        <li><a href="{% url 'listar_productos' %}"><button>Gestionar Productos</button></a></li>
    </ul>
</body>
</html>