<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosko Tecnologico</title>
</head>
<body>
    <h1>KIOSKO TECNOLOGICO</h1>
    <br>
    <h2>Bienvenido a KIOSKO VIRTUAL, su tienda de tecnologia</h2>
    <br>
    <h2>¿Que quieres hacer?</h2>
    <ul>
        <li><a href="{% url 'listar_ventas' %}"><button>Gestionar Ventas</button></a></li>
        <br>
        <br>
        <li><a href="{% url 'listar_clientes' %}"><button>Gestionar Clientes</button></a></li>
        <li><a href="{% url 'listar_proveedores' %}"><button>Gestionar Proveedores</button></a></li>
        <li><a href="{% url 'listar_productos' %}"><button>Gestionar Productos</button></a></li>
    </ul>
</body>
</html>