<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
</head>
<body style="background-image: url(https://images.unsplash.com/photo-1647427017067-8f33ccbae493?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; margin: 0;">
    <h1>Lista De Ventas:</h1>
    <table border="1" style="background-color: white;border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th>Fecha De Venta</th>
                <th>Cliente</th>
                <th>Productos</th>
                <th>Total</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.fecha }}</td>
                <td>{{ venta.cliente }}</td>
                <td>
                    {% for detalle in venta.detalleventa_set.all %}
                        {{ detalle.cantidad }} de {{ detalle.producto }}{% if not forloop.last %}, {% endif %} 
                    {% endfor %}
                </td>
                <td>{{ venta.total }}</td>
                <td>
                    <a href="{% url 'editar_venta' venta.id %}"><button>Editar</button></a>
                    <a href="{% url 'eliminar_venta' venta.id %}"><button>Eliminar</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_factura' %}"><button>Agregar Una Nueva Venta</button></a>
    <a href="{% url 'inicio' %}"><button>Volver al Inicio</button></a>
</body>
</html>