<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body style="background-image: url(https://media.istockphoto.com/id/1891344025/es/foto/gesti%C3%B3n-de-relaciones-con-los-clientes-uso-de-tabletas-de-empresarios-con-tecnolog%C3%ADa-de-red-de.jpg?s=1024x1024&w=is&k=20&c=AygavuJrBgDcLGn7kvp2To7z9gtWGQZKCbz2hxiAD5E=); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; margin: 0;">
    <h1>Lista de Clientes</h1>
    <table border="1" style="background-color: white;border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>
                    <a href="{% url 'editar_cliente' cliente.id %}"><button>Editar</button></a>
                    <a href="{% url 'eliminar_cliente' cliente.id %}"><button>Eliminar</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_cliente' %}"><button>Agregar Nuevo Cliente</button></a>
    <a href="{% url 'inicio' %}"><button>Volver al Inicio</button></a>
</body>
</html>




